body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  max-width: 500px;
  padding: 64px;
}

.avatar {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin-bottom: 40px;
  object-fit: cover;
}

.name {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.job {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about {
  font-size: 18px;
  font-weight: 300;
  color: grey;
  margin-bottom: 24px;
}

.contact {
  margin-bottom: 48px;
}

.link {
  background-color: black;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
}
